<div style="position: relative;padding:100px 0 200px 0;margin:0 auto;width: 800px;height: 425px;background:url('<%=host %>/image/background.png') 50% no-repeat;">
    <div style="width: 80%;margin:0 auto;background-color: rgba(255,255,255,0.5);padding: 20px 30px;">
        <h1>Forgot Password</h1>
        <p>You're receiving this e-mail because you requested a password reset for your user account <b><%=phone %></b> at The No App&#8482;</p>
        <p>Please click <a href="<%=changePasswordLink %>" target="_blank">here</a> to change your password.</p>
        <p>Best wishes,<br>The No App&#8482;  team!</p>
    </div>
</div>