<div style="position: relative;padding:100px 0 200px 0;margin:0 auto;width: 800px;height: 425px;background:url('<%=host %>/image/background.png') 50% no-repeat;">
    <div style="width: 80%;margin:0 auto;background-color: rgba(255,255,255,0.5);padding: 20px 30px;">
        <!--<h1>Hello,</h1>-->
        <h1>This is to confirm <%=email %></h1>
        <p>Click here to confirm your email address</p>
        <p style="margin-bottom:20px;">
            <a href="<%=host %>/confirmEmail/<%= confirmToken %>" target="_blank" style="text-decoration:none;padding: 6px 10px; background: #759fd1; border-bottom: 2px solid #6684ac;color:#fff;font-size:20px;">CONFIRM</a>
        </p>
        <p>Best wishes,<br>The No App&#8482;  team!</p>
    </div>
</div>

<!--<html>-->
<!--<head>-->

<!--</head>-->
<!--<body>-->
<!--<table style="width: 100%;height: 500px;position: relative;">-->
    <!--<tr>-->
        <!--<td style="padding: 100px 20px">-->
            <!--<img src="<%=host %>/image/background.png" style="width: 100%;height: 500px;position: absolute;">-->
            <!--<div style="width: 80%;margin:0 auto;background-color: rgba(255,255,255,0.5);padding: 20px 30px;">-->
                <!--&lt;!&ndash;<h1>Hello,</h1>&ndash;&gt;-->
                <!--<h1>This is to confirm <%=email %></h1>-->
                <!--<p>Click here to confirm your email address</p>-->
                <!--<p style="margin-bottom:20px;">-->
                    <!--<a href="<%=host %>/confirmEmail/<%= confirmToken %>" target="_blank" style="text-decoration:none;padding: 6px 10px; background: #759fd1; border-bottom: 2px solid #6684ac;color:#fff;font-size:20px;">CONFIRM</a>-->
                <!--</p>-->
                <!--<p>Best wishes,<br>The No App&#8482;  team!</p>-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
