<div style="position: relative;padding:100px 0 200px 0;margin:0 auto;width: 800px;height: 425px;background:url('<%=host %>/image/background.png') 50% no-repeat;">
    <div style="width: 80%;margin:0 auto;background-color: rgba(255,255,255,0.5);padding: 20px 30px;">
        <h1>Hello, The-No-App&#8482; User!</h1>
        <p>The-No-App on phone # <%=phone %> has recorded an encounter at <%=date %> and approximate <a href="<%=locationLink %>" target="_blank">location</a>.</p>
        <p>Thank you for using The-No-App™ !</p>
        <p>Best wishes,<br>The-No-App</p>
    </div>
</div>